<!DOCTYPE html>
<html>
<head>
    <title>Post Board</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <ul>
    <li style="float:right"><a href="{{ url_for('login') }}" class="buttonLog">Login</a></li>
    <li style="float:right"><a href="{{ url_for('register') }}" class="buttonLog">Register</a></li>
    <li><a href="{{ url_for('add_post') }}" class="buttonAdd">Add Post</a></li>
    </ul>
    <h1>Post Board</h1>
    <div id="post-container">
        {% for post in posts %}
    <div class="post-capsule">
        <h2>{{ post.title }}</h2>
        <p>{{ post.description }}</p>
        <p>Author: {{ post.user.username }}</p>
    </div>
    {% endfor %}
</div>



    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        // The window.onload event ensures the script runs after the page has loaded.
        window.onload = function() {
            // Use the alert function to display the pop-up message.
            alert('Be sure to register before posting or login using account username:123 password:123'); // Change this message to whatever you want.
        };
    </script>
</body>
</html>
